{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">My E-Cart</h1>
      <p>My E-Cart Pvt Ltd. is an Indian electronic commerce company based in Ambedkar Nagar, India. Founded by Pratyush Ranjan and Akhilesh in 2022, the company initially focused on Electronic Devices,before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.

The service competes primarily with 'XYZ' s Indian subsidiary, and the domestic rival 'XYZ' as of September 2022, My E-Cart held a 39.5% market share of India's e-commerce and blog industry.My E-Cart is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of "XYZ" and "XYZ.com"), and was described as being "neck and neck" with "XYZ in the sale of electronics and mobile phones.My E-Cart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).

In August 2022, U.S.-based retail chain XYZ acquired a 77% controlling stake in My E-Cart for US$16 billion, valuing it at $22 billion.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Follow On Linkedin</h2>
        <p>Click The Button </p>
        <p><a class="btn btn-secondary" href="#" role="button">Linkedin</a></p>
      </div>
      <div class="col-md-4">
        <h2>Follow On Twitter</h2>
        <p>Click The Button </p>
        <p><a class="btn btn-secondary" href="#" role="button">Twitter</a></p>
      </div>
      <div class="col-md-4">
        <h2>Follow On Instagram</h2>
        <p>Click The Button</p>
        <p><a class="btn btn-secondary" href="#" role="button">Instagram</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
